* {
    box-sizing: border-box;
}

body {
    background-color: rgb(75, 30, 117);
    color: white;
}


nav {
    display: flex;
    padding: 20px 60px;
    align-items: center;
    border-bottom: 3px solid black;
    z-index: 1000;
}


.nav-list {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style-type: none;
    margin-left: auto;
    padding: 0;
}

.list-item a {
    color: white;
    text-decoration: none;
}

.nav-button::before {
    display: block;
    content: "";
    width: 50px;
    height: 3px;
    background-color: white;
    transform: translateY(-10px);
}

.nav-button {
    position: absolute;
    left: 0;
    top: 50%;
    display: block;
    width: 50px;
    height: 3px;
    background-color: white;
}

.nav-button::after {
    display: block;
    content: "";
    width: 50px;
    height: 3px;
    background-color: white;
    transform: translateY(8px);
}

.nav-button {
    display: none;
}

.nav-button-container {
    position: relative;
    cursor: pointer;
    height: 50px;
    width: 50px;
}

.nav-bar.open {
    align-items: unset;
}

.nav-bar.open .nav-icon {
    display: none;
}

.nav-bar.open .nav-button-container {
    margin-left: auto;
}

.nav-bar.open .nav-button {
    width: 0;
    height: 0;
}

.nav-bar.open .nav-button::before {
    position: absolute;
    transform: rotate(45deg);
    top: 2px;
    width: 30px;
    transition: 400ms;
}

.nav-bar.open .nav-button::after {
    position: absolute;
    transform: rotate(-45deg);
    top: 2px;
    width: 30px;
    transition: 400ms;
}

.nav-bar.open .nav-list {
    display: block;
    margin-top: 50px;
}

@media screen and (max-width: 500px) {
    nav {
        justify-content: space-between;
    }

    .nav-list {
        display: none;
    }

    .nav-button {
        display: block;
    }
}
